#Ambiente de desenvolvimento (dev, prod, test)
NODE_ENV=dev

#Segredo JWT para autenticação
JWT_SECRET=jwt_secret_example

#URL para conectar ao banco
DATABASE_URL=postgresql://username:password@localhost:5432/dbname?schema=public

#Usuário do banco
DATABASE_USER=username

#Senha do usuário do banco
DATABASE_PASSWORD=userpassword

#Tempo de expiração padrão do token JWT
EXPIRES=6h

#E-mail que manda as mensagens
EMAIL_USER=youremail@example.com

#Senha do e-mail (Senha de app)
EMAIL_PASS=your_password

#E-mail dos devs que recebem mensagens de erro
DEV_EMAILS=youremail@example.com, yourotheremail@example.com